* {
  margin: 0px;
  padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
  width: 400px;
  height: 500px;
  background-color: rgb(190, 193, 185);
  margin-top: 25px;
}
.form-element{
  display: flex;
  margin: 10px;
}
p{
  font-size: 20px;
  width: 100px;
  display: inline;
}
button{
  width: 65px;
  height: 35px;
  border-radius: 10px;
  color: white;
  background-color: red;
  margin-left: 155px;
  margin-top: 15px;
}
input{
  border-radius: 5px ;
  height: 25px;
}
textarea{
  border-radius: 5px;
}